/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    text-align: center;
}
a {
    color: inherit;
}

/*-------------------
    DEBUG
-------------------*/
.debug .header-top {
    background-color: #add8e6;
}
.debug .header-top .row {
    background-color: #daa520;
    line-height: 40px;
}
.debug [class^="col"], .debug .hero, .debug .footer-bottom > *  {
    border: 2px dashed #000;
}
.debug [class^="col"] [class^="col"] {
    border-color: #fff;
}
.debug .hero-container {
    background-color: #00008b;
    height: 600px;
}
.debug .hero {
    background-color: #ee82ee;
}
.debug section .row {
    height: 500px;
}
.debug section .col-70 {
    background: #1e90ff;
}
.debug section .col-30 {
    background: #ffc0cb;
}
.debug section:last-child .row {
    height: 900px;
}
.debug section:last-child .col-100 {
    background-color: #228b22;
}
.debug footer {
    background-color: #23272a;
}
.debug .footer-top {
    height: 580px;
}
.debug .footer-top .col-30 {
    background-color: #f08080;
}
.debug .footer-top .col-70 {
    background-color: #20b2aa;
}
.debug .footer-top .col-70 .row {
    height: 100%;
}
.debug .footer-bottom {
    background-color: #7fffd4;
}
.debug .footer-bottom > * {
    background-color: #ffb6c1;
    padding: 10px;
}
/*-------------------
    GRID LAYOUT
-------------------*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.row > * {
    padding: 0 10px;
}

.col-20 {
    width: fit-content;
}
.col-25 {
    width: 25%;
}
.col-30 {
    width: 30%;
}
.col-50 {
    width: 50%;
}
.col-70 {
    width: 70%;
}
.col-80 {
    width: 80%;
}
.col-100 {
    width: 100%;
}
.col-grow {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

/*-------------------
    GENERAL
-------------------*/
.bg-gray {
    background-color: #d3d3d3;
}

/*-------------------
    BUTTON
-------------------*/
.button-white {
    color: #23272a;
    background-color: #fff;
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 14px;
    line-height: 24px;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    cursor: pointer;
    border: 0;
}
.button-dark {
    color: #fff;
    background-color: #23272a;
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 14px;
    line-height: 24px;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    cursor: pointer;
    border: 0;
}

/*-------------------
    HEADER
-------------------*/
header {
    background-image: url("img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat; 
    color: white;
}
.header-top {
    padding: 16px 0;
}

.main-nav ul {
    display: flex;
    list-style: none;
    line-height: 14px;
    justify-content: center;
}
.main-nav li {
    padding: 0 4px;
}
.main-nav li a {
    text-decoration: none;
    padding: 0 20px;
    font-size: 14px;
}

.header-top .login {
    text-align: right;
}

.hero-container  {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.hero h1, .hero p {
    margin-bottom: 30px;
}
.hero .button-dark, .hero .button-white {
    margin: 0 15px;
}

/*-------------------
    MAIN
-------------------*/
main section:nth-child(2n) {
    background-color: #d3d3d3;
}

section {
    padding: 50px 0;
}

/*-------------------
    FOOTER
-------------------*/
.footer-top {
    padding-top: 10px;
    padding-bottom: 40px;
}

footer .container:first-child {
    border-bottom: 2px solid #fff;
}

.footer-bottom {
    margin-top: 30px;
    padding: 20px 0;
    justify-content: space-between;
}